#korzinaGrid .card h3 {
  line-height: 1.25;
}

#korzinaGrid .card .text-muted.small {
  line-height: 1.2;
}

#korzinaGrid .btn {
  width: 100%;
}

#emptykorzina {
  border: 1px dashed rgba(0,0,0,0.18);
  border-radius: 14px;
}

#orderForm .form-control,
#orderForm .form-select {
  background-color: #fff;
}

#orderForm textarea {
  resize: vertical;
}

#orderForm .bg-light {
  background-color: #f1f3f5 !important;
}

#submitOrderBtn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

#loadingIndicator .spinner-border {
  width: 2.2rem;
  height: 2.2rem;
}

